
img { margin: 75px;
	  padding: 75px;
	  border: 75px;
}

h1{
	font-size: 24px;
	color: red;
}

h2 {
	font-size: 24px;
	color: orange;
}

h3 {
	font-size: 24px;
	color: green;
}

h4 {
	font-size: 24px;
	color: blue;
	}

h1, h2, h3, h4 { 
	float: left;
	padding-left: 130x;

   
}

nav a {
		font-size: 18px;
		float: left;
		background-color: blue;
		text-align: center;
		padding: 20px 5px;
}
a  {
	float: left;
	padding: 24px;
}
a:hover {
	background-color: gray;
}

p {
	font-size 12px;
    font-family: Times New Roman;
    font-style: italics;
    }


footer {
		text-align: left;
}





