
body {background-color: #0009C7;
      }

header {
  text-align: center;
}

h1 {font-style: bold;
   font-size: 64px;
   text-align: center;
   color: white;
   padding-bottom: 48px;
   padding-top: 90px;}


nav {text-align: center;
      font-size: 32px;
     color: #E815AB;
     padding-right: 80px;
     padding-left: 80px;}


p {color: white;
   font-size: 24px;
    text-align: center;}

nav a {color: white;}

img {
     padding-top: 110px;}

